.section {
  padding-bottom: 100px;
}
.title {
  font-weight: 700;
  line-height: 1.25;
  font-size: 4rem;
  margin: 40px 0 8px;
  color: $title-color;
}
.date {
  font-size: 1.25rem;
  color: $text-second-color;
}
