.root {
  padding-bottom: 100px;
  h1,
  h2,
  h3 {
    font-weight: 600;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    margin-top: 70px;
    font-size: 1.4rem;
    font-weight: 700;
  }
  h3 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 60px;
  }
  h5 {
    margin-top: 80px;
  }
  p {
    font-size: 1rem;
    white-space: pre-wrap;
    line-height: 1.5;
  }
  a {
    color: $primary-color;
  }
  ul {
    padding-left: 24px;
    li {
      list-style-type: disc;
    }
  }
  li {
    margin-bottom: 10px;
    list-style: auto;
  }
  blockquote {
    position: relative;
    margin: 0;
    margin-left: 20px;
    padding-left: 10px;
  }
  blockquote:after {
    position: absolute;
    display: block;
    content: '';
    width: 3px;
    height: 100%;
    background: $border-color;
    left: 0;
    top: 0;
  }
  pre {
    overflow-x: auto;
  }
  code {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    white-space: pre-wrap;
  }
  img {
    max-width: 70%;
    @media screen and (max-width: 720px) {
      max-width: 100%;
    }
  }
}
.title {
  font-weight: 700;
  line-height: 1.25;
  font-size: 2rem;
  margin: 0 0 8px;
  color: $primary-color;
}
.date {
  font-size: 1.1rem;
  font-weight: 100;
  color: $text-second-color;
  margin-bottom: 50px;
}
