@import "./font.scss";
@import "./reset.scss";

* {
  color: $text-color;
}

main {
  background: $bg-color;
  min-height: 100vh;
}

.wrapper {
  margin: 0 auto;
  padding-top: 40px;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  transition: 0.3s linear;
  &:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
}
