@import "./font.scss";
@import "./reset.scss";

* {
  color: $text-color;
}

main {
  background: $bg-color;
  min-height: 100vh;
  padding: 0 24px;
}

.wrapper {
  margin: 0 auto;
  padding-top: 40px;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  font-weight: 200;
  @include transition();
  &:hover {
    color: $title-color;
    text-decoration: underline;
  }
}
