.logo {
  text-align: center;
}
.posts {
  margin: 100px 0;
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include borderBottom();
    h2 {
      font-weight: 400;
      margin: 0;
    }
    a {
      color: $text-second-color;
      font-size: 1.2rem;
    }
  }
  ul {
    margin-top: 40px;
  }
}
